/* your code */
table{
	border:1px solid black;
	width:75%;
}
th{
	background-color:blue;
	color:white
}
tbody tr:nth-child(2){
	background-color:gray
}
tbody tr:nth-child(4){
	background-color:gray
}